body
{
    
    background-color:black;
    color:gray;
}


header, nav, footer
{
    text-align:center;
}

main {
    text-align: center;
    margin: 0 auto;
    max-width:55%;
    background-color: black;
    padding: 0 5%;
}


nav a { /*links within "nav" container*/
        padding:15px;
        padding-bottom:4px;
        font-size:1.8em;
        text-decoration:none;
        color:white;
}
nav a:hover { /*pseudo class*/
    border-bottom:2px orange solid;
    font-size: 2em;
    transition: .9s /* transition effect*/ 
}

#currentPage{
    color: orange;
}

figure, div {
  float: left;
}

#me, #welcomeText {
  float: left;
}
footer {
    clear:left;
}

table{
    margin: 0px auto;
}
td {
    padding-right: 10px;
    font-size: 1.3em;
    text-align: left;
}
td strong {
    color:orange;
}

#table-header {
    background-color: #351a00;
}
.table-row {
    background-color: /*#753900*/white;
}
ul {
    text-align: left;
    padding-left: 200px;
}
ol {
    text-align: left;
    padding-left: 200px;
}
.hobby {
    color: yellow;
}

h1 {
    font-family:'Pacifico', cursive;
    font-size: 4em;
    margin-bottom: 0px;
}
p{
    padding-right: 10px;
    font-size: 1.3em;

}
#links{
    color:green;
    font-size: 1.3em;
}